h1, h2 {
    font-family: 'Raleway', sans-serif;
}
h1.navbar-brand {
    margin: 0;
}
nav a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #444;
    line-height: 22px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
}

p {
    font-family: 'Lato', sans-serif;
}
main p {
    font-size: 16px;
}
.navbar {
    opacity: 0.7;
}

.active > a {
    background-image: none !important;
    background-color: transparent !important;
}

p {
    line-height: 1.8;
}

.no-js #loader {
    display: none;
}
table {
    text-align: center;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(./preloader.gif) center no-repeat #fff;
}

.navbar-default {
    background: #fff;
}

.separator {
    height: 5px;
    width: 70px;
    background: #000;
    margin: 15px 0 10px 0;
}

.custom-padding {
    padding: 20px 40px 40px 40px;
}

footer {
    height: 100px;
    background: #333;
}

footer p {
    line-height: 60px;
    color: rgba(255, 255, 255, .25);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
}
footer ul {
    margin: 0 auto;
    width: 87px;
}
footer ul li {
    display: inline;
}
footer i {
    color: lightgray;
}

.fa {
    font-size: 25px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
.exercise {
    background: #E0FFFF;
    border: 1px solid lightgray;
}
.lecture {
    background: #90EE90;
    border: 1px solid lightgray;
}
.physical-exercise {
    background: #de9fee;
    border: 1px solid lightgray;
}
.freeline {
    border: 1px solid lightgray;
}
.legend ul {
    list-style-type: none;
}
.legend ul li {
    display: block;
}
.square {
    width: 10px;
    height: 10px;
    border: 1px solid lightgray;
    float: left;
    margin: 5px;
}
.blue {
    background: #E0FFFF;
}
.green {
    background: #90EE90;
}
.purple {
    background: #de9fee;
}