html {
    background: url(slovakia.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body, html {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
}

h1 {
    color: black;
    opacity: 0.3;
}

h2, ul {
    padding: 0;
    margin: 0;
}

ul {
    text-align: left;
}

.marker {
    width: 100px;
    height: 162px;
    background: url('marker.png');
    background-repeat: no-repeat;
    display: block;
}

.tooltip {
    color: #fff;
    width: 150px;
    height: 80px;
    background: #1a1a1a;
    padding: 8px;
    border-radius: 5px;
    position: relative;
    left: -24px;
    top: 9px;
    display: none;
    z-index: 99999;
}

section {
    text-align: center;
}

.bratislava {
    position: absolute;
    top: 471px;
    left: 98px;
}

.galanta {
    position: absolute;
    left: 250px;
    top: 453px;
}

.banska-stiavnica {
    position: absolute;
    left: 560px;
    top: 357px;
}

.trencin {
    position: absolute;
    left: 330px;
    top: 191px;
}

.marker-bratislava:hover + div {
    display: block;
}

.marker-galanta:hover + div {
    display: block;
}

.marker-banska-stiavnica:hover + div {
    display: block;
}

.marker-trencin:hover + div {
    display: block;
}

.fa, i {
    font-size: 30px !important;
    color: deeppink;
}

footer, footer ul {
    text-align: center;
    width: 102px;
    opacity: 0.7;
}